<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!--        <title>[[#{home.index.headline}]]</title>-->
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>User table</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">

                    <!-- Start form search -->
                    <form method="get" th:action="@{/user/search}" th:object="${user}">
                        <div class="row mb-4 mx-3">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="firstname" class="form-control-label">First Name</label>
                                            <input type="search" th:field="*{firstname}" class="form-control" id="firstname" onchange="changeExport()">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="lastname" class="form-control-label">Last Name</label>
                                            <input type="search" th:field="*{lastname}" class="form-control" id="lastname" onchange="changeExport()">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="address" class="form-control-label">Address</label>
                                            <input type="search" th:field="*{address}" class="form-control" id="address" onchange="changeExport()">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="dob" class="form-control-label">DOB</label>
                                            <input type="search" th:field="*{dob}" class="form-control" id="dob" onchange="changeExport()">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="zipcode" class="form-control-label">Zipcode</label>
                                            <input type="search" th:field="*{zipcode}" class="form-control" id="zipcode" onchange="changeExport()">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ssn" class="form-control-label">SSN</label>
                                            <input type="search" th:field="*{ssn}" class="form-control" id="ssn" onchange="changeExport()">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="st" class="form-control-label">ST</label>
                                            <input type="search" th:field="*{st}" class="form-control" id="st" onchange="changeExport()">
                                        </div>
                                    </div>
                                    <div class="col-12 text-end">
                                        <input id="export-link" type="hidden" th:href="@{/user/export-file(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},
                                        dob=${user.dob},zipcode=${user.zipcode},ssn=${user.ssn},st=${user.st},page=${page},size=${size})}">
                                        <input id="search-link" type="hidden" th:href="@{/user/export-file(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},
                                        dob=${user.dob},zipcode=${user.zipcode},ssn=${user.ssn},st=${user.st},size=${size})}">
                                        <a th:if="${total>0}"
                                           onclick="exportFile()"
                                           id="export-btn"
                                        >
                                            <button type="button" class="btn bg-gradient-success mx-2">Export</button>
                                        </a>
                                        <button type="submit" class="btn bg-gradient-primary">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End form search -->

                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SSN</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">First Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Last Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Middle Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name Suff</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dob</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">City</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">County Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ST</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Zip</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user,i : ${users}">
                                <th class="align-middle text-center"><span class="text-xs font-weight-bold">[[${i.index + 1}]]</span></th>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.ssn}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.firstname}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.lastname}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.middlename}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.namesuff}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.dob}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.address}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.city}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.countyname}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.st}]]</span></td>
                                <td class="align-middle text-center"><span class="text-xs font-weight-bold">[[${user.zip}]]</span></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="pagination-container justify-content-center">
                                <ul class="pagination pagination-default">
                                    <li th:if="${page-1 >= 0}" class="page-item">
                                        <a class="page-link"
                                           th:href="@{/user/search(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},dob=${user.dob},zipcode=${user.zipcode},page=${page-1},size=${size})}"
                                           aria-label="Previous">
                                            <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                    <li th:if="${page-2 >= 0}" class="page-item">
                                        <a th:text="${page-1}"
                                           th:href="@{/user/search(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},dob=${user.dob},zipcode=${user.zipcode},page=${page-2},size=${size})}"
                                           class="page-link"></a>
                                    </li>
                                    <li th:if="${page-1 >= 0}" class="page-item">
                                        <a th:text="${page}"
                                           th:href="@{/user/search(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},dob=${user.dob},zipcode=${user.zipcode},page=${page-1},size=${size})}"
                                           class="page-link"></a>
                                    </li>

                                    <li th:if="${total > 0}" class="page-item active">
                                        <a th:text="${page+1}"
                                           th:href="@{/user/search(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},dob=${user.dob},zipcode=${user.zipcode},page=${page},size=${size})}"
                                           class="page-link"></a>
                                    </li>

                                    <li th:if="${page+2 <= total}" class="page-item">
                                        <a th:text="${page+2}"
                                           th:href="@{/user/search(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},dob=${user.dob},zipcode=${user.zipcode},page=${page+1},size=${size})}"
                                           class="page-link" href="javascript:;"></a>
                                    </li>
                                    <li th:if="${page+3 <= total}" class="page-item">
                                        <a th:text="${page+3}"
                                           th:href="@{/user/search(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},dob=${user.dob},zipcode=${user.zipcode},page=${page+2},size=${size})}"
                                           class="page-link" href="javascript:;"></a>
                                    </li>
                                    <li th:if="${page+2 <= total}" class="page-item">
                                        <a class="page-link"
                                           th:href="@{/user/search(firstname=${user.firstname},lastname=${user.lastname},address=${user.address},dob=${user.dob},zipcode=${user.zipcode},page=${page+1},size=${size})}"
                                           aria-label="Next">
                                            <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        function changeExport () {
            $("#export-btn").hide();
        }

        function exportFile() {
            if (confirm("Wanna export?") == true)
                window.location.href = $("#export-link").attr('href');
        }

        function callSearch() {
            window.location.href = $("#search-link").attr('href');
        }
    </script>

</div>
</body>
</html>
