<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
<!--        <title>[[#{home.index.headline}]]</title>-->
    </head>
    <body>
        <div layout:fragment="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="d-flex align-items-center">
                                <h1 class="mb-4">[[#{home.index.headline}]]</h1>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>[(#{home.index.text})]</p>
                            <p class="mb-5">
                                <span>[[#{home.index.swagger}]]</span>
                                <a th:href="@{/swagger-ui.html}" target="_blank">[[#{home.index.swagger.link}]]</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
